{% extends 'resume_template/base.html' %}
{% block content %}
<div class="container">
    <h1 class="mt-5 mx-5">Contact Details</h1>
    <hr>
    <div class="mt-5 line-spacing px-2">
           <div class="row mb-3 mx-5">
                <p class="col-sm-2 col-md-2 col-lg-1"><b>Email</b></p>
                <p class="col-sm-8 mx-sm-2 col-md-8 col-lg-9 mx-lg-2"><a href="mailto:kharviramya30@gmail.com" target="_blank"><u>kharviramya30@gmail.com</u></a></p>
           </div>

           <div class="row mb-3 mx-5">
                <p class="col-sm-2 col-md-2 col-lg-1"><b>Phone</b></p>
                <p class="col-sm-8 mx-sm-2 col-md-8 col-lg-9 mx-lg-2"><a href="tel:923*****454" target="_blank"><u>91***********</u></a></p>
            </div>

        <div class="row mx-5">
            <p class="col-sm-2 col-md-2 col-lg-1"><b>Address</b></p>
            <p class="col-sm-5 mx-sm-2 col-md-8 col-lg-9 mx-lg-2"><a href="https://goo.gl/maps/RV4tFGhvHnJeUEWz6" target="_blank"><u>Dwaraka House<br>
                Near Kiran Engineering works<br>
                Bahadur Shah Road<br>
                Kundapura - 576201<br>
                Karnataka, India</u></a>
            </p>
        </div>

    </div>

</div>

{% endblock content %}
