{% extends 'resume_template/base.html' %}
{% block content %}

    <div class="container">
        <h1 class="mt-5 mx-5">Education</h1>
        <hr>
        <div class="mt-5 text-justify px-2">
            <p class="mb-5 mx-5"><b>B.Sc in Optometry | AUG 2018 - MAR 2023 |</b><br> Rajiv Gandhi University of Health Sciences, Bangalore <br>
                Academic Score: 68% </p>
            <p class="mb-5 mx-5"><b>Pre-University Course | JUNE 2016 - MAR 2018 |</b><br> Viveka PU College, Kota<br> Specification : PCMB <br>
                Academic Score: 86%</p>
            <p class="mx-5"><b>SSLC | JUNE 2015 - APRIL 2016 |</b><br> Holy Rosary English Medium School, Kundapura<br>
                Academic Score: 92.16%</p>
        </div>
    </div>
{% endblock content %}




