{% extends 'resume_template/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="text-center">
            <img src="{% static 'images/Ramya_pic1.jpg' %}" alt="profile" class="img-fluid mt-5"
             height="150px" width="150px">
            <h6 class="mt-2">Ramya K Kharvi</h6>
            <h6>Python Developer, Fresher</h6>
        </div>

        <div class="mt-5 text-justify">
            <h3 class="hello">Hello,</h3>
            <div class="px-2 line-spacing">
                <p class="indent">I am <b>Ramya</b> a novice Python web developer seeking a job as a full-time where I can
                    contribute to product development while continuously learning new technologies and building projects
                    with my programming skills, there by gaining experience and building a programming career.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
