{% extends 'resume_template/base.html' %}
{% block content %}

<div class="container">
    <h1 class="mt-5 mx-5">Projects</h1>
    <hr>
    <div class="mt-5 px-2 line-spacing text-justify">
        <div class="row">
            <div class="col-6">
                <p><b>Club Management: </b></p>
                <ul>
                    <li>In this project, one can enroll, update or delete members to a club and also display all members of a club.</li>
                    <li>I have used Django Template to render the forms and display tables.</li>
                    <li><a href="https://github.com/RamyaKKharvi/DjangoApiProject/tree/master/ClubManagement" target="_blank">
                        <u>project github link</u></a></li>
                </ul>
            </div>

            <div class="col-5 offset-1">
                <p><b>Resume Project </b></p>
                <ul>
                    <li>Created my resume web page using django framework, HTML templates, and CSS styles.</li>
                    <li>In this project, one can view my profile, education details, skills, certificate, contact details, project details and their GitHub links</li>
                    <li><a href="https://github.com/RamyaKKharvi/ResumeProject.git" target="_blank"><u>project github link</u></a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <p><b>Student Api Project: </b></p>
                <ul>
                    <li>Created a django project to create students details.</li>
                    <li>URLs were generated that will hit the given API endpoint & store the data received from the
                        response to a Postgres table.</li>
                    <li>Based on the retrieved data student details is created which can be further updated or
                        deleted.</li>
                    <li><a href="https://github.com/RamyaKKharvi/StudentApiProject/tree/master/StudentDetails"
                           target="_blank"><u>project github link</u></a></li>
                </ul>
            </div>

            <div class="col-5 offset-1">
                <p><b>Salary Slip Generator: </b></p>
                <ul>
                    <li>Created script that will query PostgreSQL and retrieved the employee data.</li>
                    <li>Based on the retrieved data, salary slip template is populated with employee and
                        salary details are saved in a specified folder.</li>
                    <li><a href="https://github.com/RamyaKKharvi/python_projects/tree/master/salary_slip_generator"
                           target="_blank"><u>project github link</u></a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <p><b>API Data to Excel: </b></p>
                <ul>
                    <li>Created a script to fetch data from the API endpoint based on the retrieved data, to create an
                        Excel file and store the data in it.
                    <li><a href="https://github.com/RamyaKKharvi/python_projects/tree/master/api_data_to_excel"
                               target="_blank"><u>project github link</u></a></li>

                </ul>
            </div>

            <div class="col-5 offset-1">
                <p><b>API Data to Postgres: </b></p>
                <ul>
                    <li>Created a script that will hit the given API endpoint & store the data received from the response
                        to a Postgres table.
                    <li><a href="https://github.com/RamyaKKharvi/python_projects/tree/master/python_postgres_project"
                               target="_blank"><u>project github link</u></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>


{% endblock content %}