{% extends 'resume_template/base.html' %}
{% block content %}

<div class="container">
    <h1 class="mt-5 mx-5">Skills</h1>
    <hr>
    <div class="mt-5 line-spacing px-2 text-justify">

        <ul>
            <li class="mb-3">
                <b>Languages:</b> Python (Data Structures & Algorithms, Debugging skills, OOPs concept)</li>

            <li class="mb-3">
                <b>Framework:</b> Django </li>

            <li class="mb-3">
                <b>Restful API</b></li>

            <li class="mb-3">
                <b>Database:</b> RDBMS, PostgreSQL</li>

            <li class="mb-3">
                <b>Development Tools:</b> GIT & GITHUB, PostMan, PyCharm, ChatGPT, Bard</li>

            <li class="mb-3">
                <b>Libraries:</b> Requests, CSV, XlsxWriter, docx, psycopg2</li>

            <li class="mb-3">
                <b>Microsoft Office:</b> Equipped to use MS Excel & Powerpoint</li>

            <li class="mb-3">
                <b>Communication Skills:</b> Proficient in English, Kannada & Hindi</li>

            <li class="mb-3">
                <b>Other Skills: </b> Web skills, Leadership Skills, Creativity, Team work,
                Well Organised, Quick Learner, Easily adapt new technologies.</li>

        </ul>

    </div>
</div>

{% endblock content %}
